# Makefile for libuser_manager
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = user_manager

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	str_helper.cpp \
	user.cpp \
	user_manager.cpp \

LIB_EXT_LIB_NAMES = \
	anyvalue_db \
	anyvalue \
	serializer \
	utils \
